---
import { PostListDTO } from '@/Isekai/Post/Application/get-posts/DTO/PostListDTO'
import GetPostsCommand from '@/Isekai/Post/Application/get-posts/GetPostsCommand'
import { ContainerDI } from '@/Isekai/Shared/Container/ContainerDI'
import types from '@/Isekai/Shared/Container/types'
import ListPosts from '@/Isekai/Post/Infrastructure/Astro/components/ListPosts.astro'
import BaseLayout from '@/layouts/BaseLayout'
import type { MessageBus } from 'message-bus'

let posts!: PostListDTO[]
const MAX_POSTS = 5 // max number of posts to show on the home page
try {
  const command = new GetPostsCommand(MAX_POSTS)
  const container = ContainerDI.getInstance()
  const commandBus = container.get<MessageBus>(types.CommandBus)
  posts = await commandBus.commit<PostListDTO[]>(command)
}
catch(error) {
  console.log(error)
  return new Response(null, {status: 500, statusText: "Hubo un error en el servidor."})
}
---

<BaseLayout title='Home'>
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
