---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'

interface Props {
	title: string
	description: string
	ogImage?: string
	articleDate?: string
}

const { title, description, articleDate, ogImage} = Astro.props
---

<html lang='es' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<ProviderAnimations />
	</head>

	<body class='bg-white text-stone-950 w-full h-full'>
		<div
			class='antialiased grid gap-12 overflow-hidden md:overflow-visible'
		>
			<Header />
			<main class="px-5 sm:px-8 lg:px-0 sm:mx-auto sm:max-w-2xl md:max-w-6xl">
				<slot />
			</main>
			<Footer />
		</div>
		<TwSizeIndicator />
	</body>
</html>
